apiVersion: apps/v1
kind: Deployment
metadata:
  name: eventhub-consumer
  namespace: default
  labels:
    app: eventhub-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eventhub-consumer
  template:
    metadata:
      labels:
        app: eventhub-consumer
    spec:
      containers:
      - name: consumer
        image: shivaacr123.azurecr.io/eventhub-consumer:v1
        imagePullPolicy: Always
        env:
        - name: EVENTHUB_NAME
          valueFrom:
            configMapKeyRef:
              name: consumer-config
              key: EVENTHUB_NAME
        
        - name: EVENTHUB_CONNECTION_STRING
          valueFrom:
            secretKeyRef:
              name: azure-secrets
              key: eventhub-connection
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
