apiVersion: v1
kind: Service
metadata:
  name: eventhub-consumer
  namespace: default
  labels:
    app: eventhub-consumer
spec:
  type: ClusterIP
  selector:
    app: eventhub-consumer
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
